<!DOCTYPE html>
<html>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<style>
		table, th , td {
		  border: 1px solid grey;
		  border-collapse: collapse;
		  padding: 5px;
		}
		table tr:nth-child(odd) {
		  background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
		  background-color: #ffffff;
		}
	</style> 
<body>

<div ng-app="myApp" ng-controller="customersCtrl">

	  <table>
	  <tr ng-repeat="x in names">
		<td>{{ x.Name }}</td>
		<td>{{ x.Country | uppercase }}</td>
	  </tr>
	</table> 
	<br><br><br><br>
	Exemple 2  :<br>
	<select ng-model="selectedCar" ng-options="y.brand for (x, y) in cars">
	</select><br>	
	<h1>You brand: {{selectedCar.brand}}</h1>
	<p>Its color is: {{selectedCar.color}}</p>
	<p>Its model is: {{selectedCar.model}}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("customers.php").then(function(response) {
        $scope.names = response.data.records;
    });
	$scope.cars = {
		car01 : {brand : "Ford", model : "Mustang", color : "red"},
		car02 : {brand : "Fiat", model : "500", color : "white"},
		car03 : {brand : "Volvo", model : "XC90", color : "black"}
	};
});
</script>
</body>
</html>